@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  background-color: #fcfcfc;
  color: #0d2096; 
}

/* Utilidad para ocultar la barra de scroll en el menú de categorías */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}